* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

:root{
  --primary-color:red;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  max-height: 100vh;
  overflow: hidden;
  height: 100vh;
  color:var(--primary-color)
}

.left-side {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.dots {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.logo {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  display: flex;
  margin: 15px 0px 0px 30px;
}

.dot {
  border: 1px solid #000000;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  margin: 30px 0px 0px 30px;
}

.texts {
  width: 90%;
  height: 100vh;
  justify-content: space-around;
  position: absolute;
  left: 200px;
  top: -40px;
  padding-left: 30px;
}

.text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  font-size: 190px;
  line-height: 175px;
  display: flex;
  flex-direction: column;
}

.text:nth-child(3){
  position: absolute;
}

.text:nth-child(4){
  margin-top: 175px;
}

.transparent{
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color:rgba(234, 166, 15, 1);
  color: white;
}

.purple{
  -webkit-text-stroke-color:rgba(234, 166, 15, 1);
}


.arrow1,
.arrow2 {
  position: absolute;
}

.arrow2 {
  left: 30px;
  bottom: 70px;
}

.arrow1 {
  top: 50%;
  right: 50px;
}

.line1,
.line2,
.statue {
  position: absolute;
}

.line1 {
  left: 300px;
  z-index: 0;
}

.line2 {
  right: 0px;
}

.statue {
  left: 440px;
  bottom: 0;
  height: 650px;
  z-index: 2;
}

.image {
  z-index: 2;
}

.tap-here {
  position: absolute;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 54px;
  right: 50px;
  bottom: 100px;
}

.container{
  height: 100vh;
  width: 100%;
}

.tap-here a {
  text-decoration: none;
  color: black;
}

.for-mobil {
  display: none;
}

.mobil-background{
  display:none;
}

@media (max-width: 1450px) {
  .container{
    display: none;
  }
  .for-mobil {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
  }
  .for-mobil p {
    font-size: 50px;
    text-align: center;
    padding: 0;
    margin: 0;
  }

  .mobil-background{
    display: flex;
  }



}
