* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  background-color: #0d0d26;
  color: white;
  overflow-x: hidden;
  width: 100vw;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  padding: 0 175px;
  margin: 0 auto;
  position: relative;
}

.underline {
  text-decoration: underline;
}

.text-center {
  text-align: center;
}

.display-flex {
  display: flex;
}

.absolute {
  position: absolute;
}

.fd-column {
  flex-direction: column;
}

.fd-row {
  flex-direction: row;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.flex-1{
  flex: 1;
}


.title{
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 54px;
}

.description{
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  opacity: 0.6;
}

.content-p{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.6;
}

.header {
  padding: 30px 40px;
  justify-content: space-between;
  padding-bottom: 100px;
}

.header a,
.sign-up {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}

.logo {
  align-items: center;
  gap: 15px;
}

.logo h1 {
  padding: 0;
  margin: 0;
}

.nav-middle {
  align-items: center;
  padding-right: 600px;
}

.nav-middle-items {
  gap: 40px;
}

.nav-right {
  align-items: center;
  gap: 40px;
}

.sign-up {
  padding: 20px 70px;
  border: 2px solid #22a75d;
  border-radius: 52px;
  text-align: center;
  background-color: transparent;
  color: white;
}

.sign-up:hover {
  background-color: white;
  transition: 0.7s;
  color: black;
  border: 2px solid white;
}

.first-section {
  height: 100vh;
}

.first-section-content {
  width: 540px;
  gap: 20px;
}

.first-section-content-p1 {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  background: linear-gradient(0deg, #2b3087 0%, #00b4ec 81.99%), #ffd100;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

.first-section h2 {
  letter-spacing: -0.02em;
  color: #ffffff;
  margin: 0;
}

.first-section-content-p3 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #dde2ff;
  opacity: 0.6;
}

.first-section button {
  height: 48px;
  width: 147px;
  background-color: #22a75d;
  border: none;
  padding: 10px;
  border-radius: 52px;
  box-shadow: 0px 15px 25px rgba(34, 167, 93, 0.25);
  color: white;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
}

.first-section button:hover {
  background-color: white;
  color: black;
  transition: 0.7s;
}

.first-image {
  position: absolute;
  right: -200px;
}

.first-cards {
  gap: 20px;
  height: 60vh;
}

.first-cards .p1 {
  font-size: 36px;
  margin: 25px;
}

.first-cards .p2 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.5;
}

.first-cards .p3 img {
  position: absolute;
}

.first-cards img {
  width: 24px;
  height: 20px;
}

.card1,
.card2 {
  background: #171b29;
  padding: 50px 45px;
  border-radius: 25px;
  justify-content: center;
}

.card1 a,
.card2 a {
  color: #22a75d;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-decoration: underline;
}

.card1-icon,
.card2-icon {
  height: 70px;
  width: 70px;
  background-color: #22a75d;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.card1 {
  align-self: flex-start;
}

.card2 {
  align-self: flex-end;
}

.card2-icon {
  background-color: #2278d4;
}

.section2 {
  height: 640.98px;
  margin-top: 120px;
}

.section2 img {
  width: 100%;
  height: 100%;
}

.section2 p {
  color: black;
  margin: 0;
}

.section2-content {
  background-color: white;
  border-radius: 300px 0px 0px 0px;
  justify-content: flex-end;
  margin-left: -100px;
  padding: 15px 50px;
}

.section2 h2 {
  color: black;
}

.section2-img,
.section2-content {
  flex: 1;
}

.section2-img {
  margin-right: -100px;
}

.section3 {
  padding-top: 200px;
  padding-bottom: 200px;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}

.quarters {
  flex: 1;
  gap: 30px;
}

.q-icons {
  height: 70px;
  width: 70px;
  border-radius: 200px 200px 200px 90px;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: black;
}

.quarters:nth-child(1) .q-icons:nth-child(1),
.quarters:nth-child(1) .q-icon:nth-child(1) {
  background: #22a75d;
  box-shadow: 0px 15px 25px rgba(34, 167, 93, 0.25);
}

.quarters:nth-child(2) .q-icons:nth-child(1),
.quarters:nth-child(2) .q-icon:nth-child(1) {
  background: #2278d4;
  box-shadow: 0px 15px 25px rgba(34, 120, 212, 0.25);
}

.quarters:nth-child(3) .q-icons:nth-child(1),
.quarters:nth-child(3) .q-icon:nth-child(1) {
  background: #ffd100;
  box-shadow: 0px 15px 25px rgba(255, 209, 0, 0.25);
}
.quarters:nth-child(4) .q-icons:nth-child(1),
.quarters:nth-child(4) .q-icon:nth-child(1) {
  background: #e20613;
  box-shadow: 0px 15px 25px rgba(226, 6, 19, 0.25);
}

.quarters-iconsdec {
  flex-direction: row;
}

.q-icon {
  height: 12px;
  width: 12px;
  border-radius: 50%;
}

.q-icon-year {
  justify-content: flex-end;
  gap: 10px;
  padding-left: 10px;
}

.q-year {
  align-items: flex-end;
}

.section3 li {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  opacity: 0.7;
  padding: 8px 0px;
}

.section3 ol {
  list-style: none;
  counter-reset: my-awesome-counter;
  padding: 0;
}

.section3 ol li {
  counter-increment: my-awesome-counter;
}

.section3 ol li::before {
  content: "0" counter(my-awesome-counter) ". ";
  font-weight: bold;
}

.section3 div:nth-child(1) ol li::before {
  color: #22a75d!important;
}

.section3 div:nth-child(2) ol li::before {
  color: #2278d4;
}

.section3 div:nth-child(3) ol li::before {
  color: #ffd100;
}

.section3 div:nth-child(4) ol li::before {
  color: #e20613;
}

.second-cards{
  background-image: url("../img/maskgroup2.png");
  justify-content: center;
  align-items: center;
  height: 1375px;
}

.second-cards .q-icons{
  background: #22a75d;
  box-shadow: 0px 15px 25px rgba(34, 167, 93, 0.25);
}

.second-cards .content div:nth-child(2){
  padding: 30px 0px;
}

